### A. Creating Series and DataFrames

In [1]:
import pandas as pd

#Step 1: Import pandas package

import pandas as pd

#Step2: Define a list
data = [1,2,3,4,5,6,7,8,9,10]


#Step3: Create the series
series = pd.Series(data)

# lets view the series that we have created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [2]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [3]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [4]:
# Lets create a series using python dictionary


#lets create a python dictionary
data2 = {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

**Hands on Practice Solution**
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._

**Question 1**

In [5]:
# 1. Creating a bucket list
bucket_list = ['Hike', 'Bunjee jump', 'Sky dive', 'Mud bath', 'Italy', 'Turkey']

# Creating a series using the list above and indexing with alphabets 
series = pd.Series(bucket_list, index = ['a', 'b', 'c', 'd', 'e', 'f'])
series.head(6)

a           Hike
b    Bunjee jump
c       Sky dive
d       Mud bath
e          Italy
f         Turkey
dtype: object

**Question 2**

In [6]:
# Create a simple python biodata dict with 5 keys - Values
biodata = {"Name": "Kanyisola Fagbayi", "Age": 19, "Track": "AI engineer", "Location": "ABK", "Course": "Python"}

# Converting the dictionary into pandas series
biodata_series = pd.Series(biodata)
biodata_series.head()

Name        Kanyisola Fagbayi
Age                        19
Track             AI engineer
Location                  ABK
Course                 Python
dtype: object

**Creating a DataFrame**

In [7]:
# LEts create a dataframe
# Step1: import pandas
import pandas as pd

# Define the data using dictionary that is having its values as a list

data = {
    'Name' : ['Ade', 'Chris', 'Ayo'],
    'Age': [21, 24, 26],
    'Track': ['Python', 'Data Analyst', 'IT']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

    Name  Age         Track
0    Ade   21        Python
1  Chris   24  Data Analyst
2    Ayo   26            IT

In [8]:
# Define the data using dictionary that is having its values as a list

data2 = [
    {'Name' : 'Ade', 'Age': 21, 'Track': 'Python'},
    {'Name' : 'Chris', 'Age': 24, 'Track': 'Data Analyst'},
    {'Name' : 'Ayo', 'Age': 26, 'Track': 'IT'}
]

# Lets create the dataframe using "df" as short for dataframe
df2 = pd.DataFrame(data2, index=[1, 2, 3])
df2.head()

    Name  Age         Track
1    Ade   21        Python
2  Chris   24  Data Analyst
3    Ayo   26            IT

In [9]:
# Lets do the same thing again using list of list

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'], index=[1, 2, 3])
df3.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [10]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**B.    Data Input and Output**

In [11]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To read datasets in excel, we use:
# df1 = pd.read_excel()

# To save into a csv 
df.to_csv()

# To save into a excel file
# df.to_excel()

',Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback\r\n0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non\r\n1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent\r\n2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.\r\n3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit\r\n4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking\r\n5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far\r\n6,2025/09/11 12:58:55 PM GMT+1,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.\r\n7,2025/09/11 12:59:00 PM GMT+1,Kanyisola,Fagbayi,AI;Data Science,Lagos,Female,00082,HP,Windows,One chin chin for you for this form\r\n8,2025/09/11 12:59:16 PM GMT+1,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.\r\n9,2025/09/11 12:59:28 PM GMT+1,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God\r\n10,2025/09/11 12:59:41 PM GMT+1,Deborah,Adelegan,AI;Data Science,Abeokuta,Female,001,HP,Windows,None for now\r\n11,2025/09/11 12:59:43 PM GMT+1,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill\r\n12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa\r\n13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program and my tutors.\r\n14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now\r\n15,2025/09/11 1:00:31 PM GMT+1,Kehinde ,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great\r\n16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend\r\n17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi ,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory\r\n18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,"Awesome shit\r\n\r\n"\r\n19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good\r\n20,2025/09/11 1:01:44 PM GMT+1,Sherif,Okemakinde ,AI,Abeokuta ,Male,27,HP,Windows,Form filled\r\n21,2025/09/11 1:01:46 PM GMT+1,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now\r\n22,2025/09/11 1:01:54 PM GMT+1,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious \r\n23,2025/09/11 1:02:28 PM GMT+1,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with numPy and Pandas, tho still need to it but i am finding my way real quick."\r\n24,2025/09/11 1:02:49 PM GMT+1,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here\r\n25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,Bello,AI,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand\r\n26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all\r\n27,2025/09/11 1:03:12 PM GMT+1,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing\r\n28,2025/09/11 1:03:36 PM GMT+1,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low storage in which its very difficult to work with but very difficult to manage\r\n29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"\r\n30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good\r\n31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!\r\n32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours\r\n33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil\r\n'

**C.    Data Inspection and Exploration**

In [12]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To view the first 5 rows
df.head()

# To view the last five rows
df.tail()

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil

In [13]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')

# To check the info about the data
df.info()

# To check the statistical summary
df.describe()

# To Check the dimension of the dataset
df.shape

# For checking column names 
df.columns

# Renamning all columns to lower case and removing the spaces
df2 = df.rename(columns={'Timestamp': 'timestamp','First Name': 'first_name','Last Name': 'last_name', 'Course Track':'course_track', 'City': 'city', 'Gender': 'gender', 'Seat Number': 'seat_number', 'PC-Make': 'pc_make', 'PC - OS': 'pc_os', 'Feedback': 'feedback'}, inplace=False)
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

**D.    Data Cleaning**

Finding and Handling Duplicates

In [14]:
# Checking the dataset for duplicates
df2.duplicated()

# Checking the dataset for missing values
df2.isnull().sum() # Dataset reports no missing dataset
df2.isna().sum() # Dataset reports no missing dataset

# This is for dropping duplicate values if it exists
df2.drop_duplicates()

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025/09/11 12:58:55 PM GMT+1,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025/09/11 12:59:00 PM GMT+1,Kanyisola,Fagbayi,AI;Data Science,Lagos,Female,00082,HP,Windows,One chin chin for you for this form
8,2025/09/11 12:59:16 PM GMT+1,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025/09/11 12:59:28 PM GMT+1,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025/09/11 12:59:41 PM GMT+1,Deborah,Adelegan,AI;Data Science,Abeokuta,Female,001,HP,Windows,None for now
11,2025/09/11 12:59:43 PM GMT+1,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025/09/11 1:01:44 PM GMT+1,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025/09/11 1:01:46 PM GMT+1,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025/09/11 1:01:54 PM GMT+1,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025/09/11 1:02:28 PM GMT+1,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025/09/11 1:02:49 PM GMT+1,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,Bello,AI,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand
26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all
27,2025/09/11 1:03:12 PM GMT+1,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025/09/11 1:03:36 PM GMT+1,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil

**Correcting Data**

In pandas there are two main types of datatypes, "integer" and "Object"

You can check data type using
```c

df types
```

To convert the type of perform type casting, you use

```c
df.astype() # this takes in the datatype you want to convert it to as an argument
```

When working with time or time series dat its important to convert the time to pandas recognized time using

```c
pd.to_datatime() # takes in the data column as an argument
```

In [15]:
# To convert the type of perform type casting, you use
# df.astype() takes in the datatype you want to convert it to as an argument

# Replacing the dirty data to an int in the column
df2['seat_number'] = df2['seat_number'].replace('dirty', 789)


# To convert a specific datatype to the correct datatype
df2['seat_number'] = df2['seat_number'].astype(int)
df2['seat_number']

0        28
1        24
2        22
3        44
4        35
5       200
6        32
7        82
8     45678
9        30
10        1
11        1
12       38
13        3
14       29
15       54
16        9
17       15
18      100
19        2
20       27
21       26
22      299
23        5
24       16
25      373
26      789
27       15
28       20
29      100
30        2
31       45
32       36
33       12
Name: seat_number, dtype: int64

In [16]:
# To change the data type of the Timestamp 
df2['timestamp'] = pd.to_datetime(df2['timestamp'])
df2['timestamp']

C:\Users\Noimot\AppData\Local\Temp\ipykernel_9648\3048936821.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['timestamp'] = pd.to_datetime(df2['timestamp'])

0    2025-09-11 12:55:34-01:00
1    2025-09-11 12:56:11-01:00
2    2025-09-11 12:57:08-01:00
3    2025-09-11 12:57:56-01:00
4    2025-09-11 12:58:41-01:00
5    2025-09-11 12:58:55-01:00
6    2025-09-11 12:58:55-01:00
7    2025-09-11 12:59:00-01:00
8    2025-09-11 12:59:16-01:00
9    2025-09-11 12:59:28-01:00
10   2025-09-11 12:59:41-01:00
11   2025-09-11 12:59:43-01:00
12   2025-09-11 13:00:03-01:00
13   2025-09-11 13:00:13-01:00
14   2025-09-11 13:00:27-01:00
15   2025-09-11 13:00:31-01:00
16   2025-09-11 13:00:43-01:00
17   2025-09-11 13:00:49-01:00
18   2025-09-11 13:00:54-01:00
19   2025-09-11 13:01:31-01:00
20   2025-09-11 13:01:44-01:00
21   2025-09-11 13:01:46-01:00
22   2025-09-11 13:01:54-01:00
23   2025-09-11 13:02:28-01:00
24   2025-09-11 13:02:49-01:00
25   2025-09-11 13:02:56-01:00
26   2025-09-11 13:02:59-01:00
27   2025-09-11 13:03:12-01:00
28   2025-09-11 13:03:36-01:00
29   2025-09-11 13:06:03-01:00
30   2025-09-11 13:06:48-01:00
31   2025-09-11 13:10:16-01:00
32   2025-09-11 13:11:39-01:00
33   2025-09-11 13:18:15-01:00
Name: timestamp, dtype: datetime64[ns, UTC-01:00]

In [17]:
# To check the data type of all the columns in the dataset
df2.dtypes

timestamp       datetime64[ns, UTC-01:00]
first_name                         object
last_name                          object
course_track                       object
city                               object
gender                             object
seat_number                         int64
pc_make                            object
pc_os                              object
feedback                           object
dtype: object

### E. Data Selection and Filtering

Viewing data column

In [18]:
# To view all the columns in a dataset
# bio_data_column = ['First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC-OS', 'Feedback' ]

df2.columns

Index(['timestamp', 'first_name', 'last_name', 'course_track', 'city',
       'gender', 'seat_number', 'pc_make', 'pc_os', 'feedback'],
      dtype='object')

In [19]:
# Cleaning data to remove remove multiple values in a cell
df2['course_track'] = list(map(lambda x: x.split(";")[1][0] if ";"in x else x, df2['course_track']))
df2['pc_make'] = list(map(lambda x: x.split(";")[1][0] if ";" in x else x, df2['pc_make']))
df2

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,D,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,D,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,D,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,H,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,M,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,C,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,H,Windows,Nil

In [20]:
#Cleaning the data for the pc_make (only effective for small datasets)
df2['pc_make'] = df2['pc_make'].replace({"H":  "HP", "M": "Macbook", "none": "NaN"}, inplace=False)
df2['pc_make']
df2

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,D,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,D,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,D,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,C,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

In [21]:
#Cleaning the data for the course_track (only effective for small datasets)
df2['course_track'] = df2['course_track'].replace({"C":  "Cloud Computing", "D": "Data Science"}, inplace=False)
df2['course_track']
df2

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

Column selection

In [22]:
# Looking through a single column
df2['gender']
df2.gender 

# Looking through a single column that is named with a space
df2['first_name']

0             Peter
1          Toyeebat
2         Perpetual
3            Mahfuz
4            Divine
5        Abdulmalik
6          Naheemot
7         Kanyisola
8          Blessing
9            Hannah
10          Deborah
11           Esther
12          Opeyemi
13      Olasunkanmi
14           Saheed
15         Kehinde
16          Oluwole
17           Samuel
18          Ademola
19           Victor
20           Sherif
21            Ayuba
22            Hamid
23          Olajide
24          Solomon
25    Oluwadamilare
26        Oluwaseyi
27           Adeoye
28        Babatunde
29           Samuel
30          Gabriel
31      Ridwanullah
32      Oluwapelumi
33          Michael
Name: first_name, dtype: object

In [23]:
# Looking through multiple columns
df2[['gender', 'last_name']]
df2[['gender', 'last_name', 'pc_make']]

    gender    last_name  pc_make
0     Male      Okonmah  MACBOOK
1   Female       Nababa       HP
2   Female      Meninwa       HP
3     Male  Abdulhameed       HP
4     Male    Gbadamosi     DELL
5     Male     Adedotun       HP
6   Female      Adebiyi     DELL
7   Female      Fagbayi       HP
8   Female        James       HP
9     Male     Tanimola       HP
10  Female     Adelegan       HP
11  Female       Kudoro       HP
12    Male      Odejimi       HP
13    Male        Rasak       HP
14    Male     Olayinka       HP
15    Male     Akindele  Gateway
16    Male      Oludayo       HP
17    Male     Oyewusi        HP
18    Male    Akinrinde  MACBOOK
19    Male    Ademuyiwa     ASUS
20    Male  Okemakinde        HP
21    Male         Raji       HP
22    Male        Jimoh     DELL
23    Male       Abioye       HP
24    Male       Olaiya  MACBOOK
25    Male        Bello       HP
26    Male     Egunjobi  MACBOOK
27  Female         Mary   LENOVO
28    Male       Rahmon      NaN
29    Male      Dasaolu  Macbook
30    Male     Bamgbose       HP
31    Male         Osho     DELL
32    Male      Adenuga       HP
33    Male      Osisami       HP

Cell Selection

In [24]:
# To select a single cell
df2['first_name'][0]

# Another method for selecting the cell (.at)
df2.at[0, 'first_name']

# Another method for selecting the cell (.iat)
df2.iat[6, 2]

'Adebiyi'

Row selection

`iloc` is used to select rows/columns or rows and column using index slicing.
This is very useful especially when your data bset do not have labels(that is, row names and column names)

In [25]:
# Using iloc
# Let select some rows
df2.iloc[0:5] # Starts from the 0th index and stops at the the 4th element

# Combination of rows and columns
df2.iloc[0:5, 1:3] # the first index prints the 0th to the 4th element and the column picks the 1st to the second element

  first_name    last_name
0      Peter      Okonmah
1   Toyeebat       Nababa
2  Perpetual      Meninwa
3     Mahfuz  Abdulhameed
4     Divine    Gbadamosi

**Difference between iloc and loc**

- iloc allows the combination of rows and columns, loc doesn't
- loc prints the first element specified to the last element
- iloc prints the first elemnt specified to the number before the last specified element.
- loc is label specified.
- iloc is index specified.

In [26]:
# Using loc
df2.loc[:7] # prints 0th to the 7th element
df2.loc[7:] # prints 7th to the last element
df2.loc[::]

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

**Conditinal Filtering**

In [27]:
# Filtering columns with a specified info
# This returns the specified row to be printed
filtered_city = df2[df2['city'] == 'Abeokuta']
print("Rows where City is 'Abeokuta':")
filtered_city

# Replacing a filtered selection with another input
filtered_city = df2[df2['city'] == 'Abeokuta']
replace_filtered_city = filtered_city.replace('Abeokuta', 'London')
print("Replace rows with Abeokuta with London:")
replace_filtered_city

# Filter rows where the PC-Make and course Track is "Cloud Computing"
filtered_PCMake = df2[df2['pc_make'] == 'HP']
replace_filtered_PC = filtered_PCMake.replace('HP', 'Macbook')
replace_filtered_PC
filtered_PC= df2[(df2['pc_make']== 'HP') & (df2['course_track'] == 'Cloud Computing')]
print("Rows where PC-Make is 'Abeokuta' and Course_Track is 'Cloud Computing':")
filtered_PC

# Filter rows where City is either 'Abeokuta' or 'Lagos'
cities = ['Abeokuta', 'Lagos']
city_filter = df2[df2['city'].isin(cities)]
print("Rows where the city is Lagos or Abeokuta:")
city_filter

Rows where City is 'Abeokuta':
Replace rows with Abeokuta with London:
Rows where PC-Make is 'Abeokuta' and Course_Track is 'Cloud Computing':
Rows where the city is Lagos or Abeokuta:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

**Using .Query() method**

In [28]:
# Use query() to filterrows where Gender is 'Female' and City is 'Abeokuta'
query_filter = df2.query("gender == 'Female' and city == 'Abeokuta'")
print("Rows filtered using query() method:")
query_filter

# Filter rows where Course track 
data_science = df2.query("course_track == 'Web Dev'")
print("Students in the Data Science track:")
data_science

# Filter rows using multiple conditions with logical operators
ai_seat_no = df2.query("seat_number > 110 and course_track == 'AI'")
print("AI students with seat_no greater than 110")
ai_seat_no

df2

# Filter rows where PC_make is either HP or Dell
hp_dell = df2.query("pc_make in ['HP', 'DELL']")
print("Rows where PC_make is either HP or DELL:")
hp_dell

Rows filtered using query() method:
Students in the Data Science track:
AI students with seat_no greater than 110
Rows where PC_make is either HP or DELL:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

Sometimes we may want to use a Python variable inside our query. It can be done by prefixing the variable with an @ symbol.

In [29]:
# Define a variable for the course track
desired_track = 'Cloud Computing'

# Use the variable in the query expression
ai_dev = df2.query("course_track == @desired_track")
print("Students in AI Dev track:")
ai_dev

Students in AI Dev track:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!

Lets filter rows where the Feedback is not "Poor" and the City is "Lagos". Use the != operator for negation.

In [30]:
# filter rows where Feedback is not 'Excellent' and City is 'Lagos'
other_feedback_lagos = df2.query("feedback != 'Excellent' and city == 'Lagos'")
print("Students in Lagos with Feedback other than 'poor':")
other_feedback_lagos

# Lets create a more complex query filter for Course_track and feedback and seat_no
complex_query = df2.query("course_track == 'Cloud Computing' or (feedback == 'Excellent' and seat_number <100)")
print("Complex query result:")
complex_query

Students in Lagos with Feedback other than 'poor':
Complex query result:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!

### F. Data Transformation

Renaming Column Name

In [31]:
# # Lets modify the column names by fixing the old names as keys and the new name as values
# df2.rename(columns={'First_Name': 'FirstName', 'Last_Name': 'LastName'})

# You can try renaming all the columns by removing all the spaces and replacing with underscores
# df2 = df.columns.str.replace(" ", "_")

Applying String Methods

The `.str` is a string accessor used along siide with the normal methods for manipuating strings such as `.upper()`, `.lower()`, `.ttitle()` etc.

But lets see how they are combined;

```c
.str.upper() # This converts to upper cases or capital letter
```

```c
.str.lower() # This converts to lower cases or small letters
```


```c
.str.title() # This converts to title cases or capitalize first letter of each word
```


```c
.str.strip() # This removes white space before and after a string
```


```c
.str.split() # This splits an iterable into its component parts such as splitting a word into letters and splitting sentences into words using a delimiter.
```

```c
.str.len() # This is used to check the length of an iterable.
```


```c
.str.replace() # This is similar to the find and replace method in excel. It is used for replacing a strings.
```


```c
.str.contains() # This checks if a substrinng is available in a string
```


```c
.str.join() # This is used to join elements of a list into a single string.
```

```c
.str.slice() # This is used to slice strings at a specied index position
```
All of these methods will come very handy during data cleaning and data preprocessing for text data.

Lets apply some of the string methods.

**Note**: To apply some to the entire dataset, we have to define a function(lambda function)

In [32]:
# lets convert the "PC_Os" to upper case
# df2["PC_Os"] = df2["PC_Os"].str.upper() # Here we are converting  everything to small letters.

In [33]:
# Lets apply some of the methods to our dataset
# df2["Feedback"] = df2["Feedback"].str.lower() # Here we are converting  everything to small letters.

In [34]:
# Lets convert the "First_Name"
df2["city"] = df2["city"].str.title() # Here we are converting the first letters to capital

In [35]:
#LEts view to see if it has applied
df2.head()

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

In [36]:
# Lets define a lambda function
lambda x: x.str.title()

# The .apply() method will help apply the function to the selected columns
# df2['col'] = df2['col'].apply(lambda x: x.str.title())

In [37]:
#Lets view to see if it has applied
df2.head()

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

In [38]:
# We can decide to apply the lambda funtion to every element in the dataset
# df2.applymap(lambda x: x.str.title())
# df2.head()

Sorting Values

You can use the `.sort_values()` to sort the dataframe by one or multiple columns.

Below is a typical example of how to use `sort_values()`
```c
bio_data.sort_values(by, axis=1, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

# in pandas, axis 0 represents rows
# axis 1 represents columns
# inplace= True, makes the change permament
# na_position = "first", signifies where to put the Nan values

```

In [39]:
# Sorting columns
df2.sort_values(by='city', ascending=True)

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand

In [40]:
# Sorting by multiple columns
df2.sort_values(by=['city', 'pc_make'], ascending=[True, False])

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand

To sort the dataframe by its index or row label the `.sort_index()` method is used.

How to use `.sort_index()` method

In [41]:
df2.sort_index(axis = 0, level = None, ascending= False, inplace=False, sort_remaining=True)

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non


**If you are curious...try experimenting with this..**

The sort_values() method has a **kind** parameter that allows you to specify which sorting algorithm to use. The available options are:

`quicksort` (This is the default)
`mergesort`
`heapsort`
This can be useful if you are working with very large datasets and need a specific sorting algorithm.

In [42]:
# Using seat_number
df2.sort_values(by='timestamp', kind='heapsort')

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,45678,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,373,HP,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,789,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,100,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

In [43]:
import random 
# Changing the seat numbers
df2['seat_number'] = list(map(lambda x: random.randint(1,99) if x >=100 else x, df2['seat_number']))
df2['seat_number']
df2

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,46,HP,Windows,Enjoying the course so far
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,44,MACBOOK,Mac OS,Awesome shit\r\n\r\n
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,35,DELL,Windows,I am curious
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,24,HP,Mac OS,Coding is interesting when you understand
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,82,MACBOOK,Mac OS,Nice to meet you all
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,19,Macbook,Linux,"Good so far, i guess"
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil

In [44]:
# Its supposed to remove the whitespaces but didn't
df2['city'].str.strip()
df2['city']

# Prints unique values
df2['city'].unique()

# prints the number of unique spaces
unique_values = df2['course_track'].nunique()
print("Number of unique courses are:", unique_values)

# What is the total number of students taking each course?
track_count = df2.groupby("course_track").agg({'first_name': 'count'})
track_count

Number of unique courses are: 5

                 first_name
course_track
AI                       24
Cloud Computing           4
Cyber Security            1
Data Science              3
Web Dev                   2

In [45]:
# Number of students having the same pc_make
pc_count = df2.groupby('pc_make')['pc_make'].count()
pc_count

pc_make
ASUS        1
DELL        4
Gateway     1
HP         21
LENOVO      1
MACBOOK     4
Macbook     1
NaN         1
Name: pc_make, dtype: int64

In [46]:
df2.groupby('course_track').agg({'first_name': 'count', 'pc_make': 'count'})

                 first_name  pc_make
course_track
AI                       24       24
Cloud Computing           4        4
Cyber Security            1        1
Data Science              3        3
Web Dev                   2        2

In [47]:
# What city are each track from?
df2.groupby('course_track').agg({'city': 'sum'})

                                                              city
course_track
AI               OgunAbeokutaLagosAbeokutaAbeokutaAbeokutaAbeok...
Cloud Computing                  AbeokutaAbeokutaCape TownAbeokuta
Cyber Security                                             Nairobi
Data Science                                 LagosAbeokutaAbeokuta
Web Dev                                              LagosAbeokuta

In [48]:
# What type of OS do each students in each track use
df2.groupby('course_track').agg({'pc_os': 'sum'})

                                                             pc_os
course_track
AI               Mac OSWindowsWindowsWindowsWindowsWindowsWindo...
Cloud Computing                          LinuxWindowsMac OSWindows
Cyber Security                                             Windows
Data Science                                 WindowsWindowsWindows
Web Dev                                             WindowsWindows

In [49]:
# What is the most common course among the female students
female_group = df2.groupby('gender').get_group('Female')
female_group

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing

In [50]:
# What is the total number of female students
female_group['course_track'].value_counts() # returns the number of student per course

course_track
AI                5
Data Science      2
Cyber Security    1
Name: count, dtype: int64

In [51]:
# Total number for each gender
gender_size = df2.groupby('gender').size()
gender_size

gender
Female     8
Male      26
dtype: int64

In [52]:
# Returns the number of the course track per track
course_size = df2.groupby('course_track').size()
course_size

course_track
AI                 24
Cloud Computing     4
Cyber Security      1
Data Science        3
Web Dev             2
dtype: int64

In [53]:
# This will help you to search and return the index of the specified group member
by_city = df2.groupby('city')
by_city.groups['Lagos']

#or
df2.groupby('city').groups['Abeokuta']

Index([ 1,  3,  4,  5,  6,  9, 10, 11, 12, 14, 15, 16, 18, 21, 23, 24, 27, 28,
       29, 30, 31, 32, 33],
      dtype='int64')

### H. Data Reshaping

Reshaping data is a key part of data manipulation in pandas. It involves changing the layout or structure of the dataframe without altering the data.

Below are a few, if you are curious, you can do a little bit of research on reshaping pandas dataframe.

```c
pivot() #This is used for reshaping the dataframe. It summerizes you table just like it is in excel spreadsheet.
```


```c
pivot_table() #
```

```c
melt() # converts dataframe from wide format to long format
```

```c
.T # This is used for transposing your dataframe, that is, swapping the rows and the columns
```

In [56]:
pivot_table = pd.pivot_table(df2,
                             index='city',
                             columns='course_track',
                             values='seat_number',
                             aggfunc='mean')
print("Pivot table of average seat_no by city and course_track")
pivot_table

Pivot table of average seat_no by city and course_track

course_track,AI,Cloud Computing,Cyber Security,Data Science,Web Dev
city,,,,,
Abeokuta,22.352941,45.666667,NaN,15.0,36.0
Abeokuta,27.000000,NaN,NaN,NaN,NaN
Cape Town,NaN,82.000000,NaN,NaN,NaN
Ibadan,35.000000,NaN,NaN,NaN,NaN
Kobape,2.500000,NaN,NaN,NaN,NaN
Lagos,22.000000,NaN,NaN,82.0,15.0
Nairobi,NaN,NaN,39.0,NaN,NaN
Ogun,28.000000,NaN,NaN,NaN,NaN
Sango,24.000000,NaN,NaN,NaN,NaN

In [ ]:
# Changes the rows to columns and column to rows
pivot_table.T

city,Abeokuta,Abeokuta,Cape Town,Ibadan,Kobape,Lagos,Nairobi,Ogun,Sango
course_track,,,,,,,,,
AI,22.352941,27.0,NaN,35.0,2.5,22.0,NaN,28.0,24.0
Cloud Computing,45.666667,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN
Cyber Security,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,NaN
Data Science,15.000000,NaN,NaN,NaN,NaN,82.0,NaN,NaN,NaN
Web Dev,36.000000,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN

### I. Merging and Joining

Both merging and joining are important techniques that allows you to combine two or more DataFrames based on common columns or indexes.

I will list examples of those functions below and their use cases

```c
pd. merge()
```
The merge function give us the SQL feel of joining. We can do inner, left, right, and outer join.
Using merge, we must join both dataframes usinga common column.

In [61]:
# Lets add more details to our bio_data2 dataset by create a new one.

course_data = {
    'course_track': ['Data Science', 'Web Dev', 'Cyber Security', 'AI', 'Cloud Computing'],
    'Duration': ['8 months', '4 months', '5 months', '7 months', '6 months'],
    'Fee': [600000, 350000, 450000, 550000, 500000]
}
course_df = pd.DataFrame(course_data)

# both df2 and course_data have "course_track" in common

# Merge the two DataFrames on Course_Track (inner join by default)
merged_df = pd.merge(df2, course_df, on='course_track')
print("Merged DataFrame (Inner Join on Course_Track):")
merged_df

Merged DataFrame (Inner Join on Course_Track):

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback,Duration,Fee
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non,7 months,550000
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent,7 months,550000
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.,7 months,550000
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit,7 months,550000
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking,7 months,550000
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,46,HP,Windows,Enjoying the course so far,7 months,550000
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.,7 months,550000
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form,8 months,600000
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.,5 months,450000
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God,7 months,550000
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now,8 months,600000
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill,7 months,550000
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa,6 months,500000
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...,7 months,550000
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now,8 months,600000
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great,6 months,500000
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend,7 months,550000
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory,4 months,350000
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,44,MACBOOK,Mac OS,Awesome shit\r\n\r\n,7 months,550000
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good,7 months,550000
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled,7 months,550000
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now,7 months,550000
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,35,DELL,Windows,I am curious,7 months,550000
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu...",7 months,550000
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here,7 months,550000
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,24,HP,Mac OS,Coding is interesting when you understand,7 months,550000
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,82,MACBOOK,Mac OS,Nice to meet you all,6 months,500000
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing,7 months,550000
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...,7 months,550000
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,19,Macbook,Linux,"Good so far, i guess",7 months,550000
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good,7 months,550000
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!,6 months,500000
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours,4 months,350000
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil,7 months,550000

In [ ]:
# Left Join: keep all rows from df and returns course_track in the order it was generated
left_joined = pd.merge(df2, course_df, on='course_track', how='left')
print("Left Joined dataframe:")
left_joined

Left Joined dataframe:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback,Duration,Fee
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non,7 months,550000
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent,7 months,550000
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.,7 months,550000
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit,7 months,550000
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking,7 months,550000
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,46,HP,Windows,Enjoying the course so far,7 months,550000
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.,7 months,550000
7,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form,8 months,600000
8,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.,5 months,450000
9,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God,7 months,550000
10,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now,8 months,600000
11,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill,7 months,550000
12,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa,6 months,500000
13,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...,7 months,550000
14,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now,8 months,600000
15,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great,6 months,500000
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend,7 months,550000
17,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory,4 months,350000
18,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,44,MACBOOK,Mac OS,Awesome shit\r\n\r\n,7 months,550000
19,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good,7 months,550000
20,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled,7 months,550000
21,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now,7 months,550000
22,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,35,DELL,Windows,I am curious,7 months,550000
23,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu...",7 months,550000
24,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here,7 months,550000
25,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,24,HP,Mac OS,Coding is interesting when you understand,7 months,550000
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,82,MACBOOK,Mac OS,Nice to meet you all,6 months,500000
27,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing,7 months,550000
28,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...,7 months,550000
29,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,19,Macbook,Linux,"Good so far, i guess",7 months,550000
30,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good,7 months,550000
31,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!,6 months,500000
32,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours,4 months,350000
33,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil,7 months,550000

In [ ]:
# Right Join: keep all rows from df and returns course_track in random order 
right_joined = pd.merge(df2, course_df, on='course_track', how='right')
print("Outer Joined dataframe:")
right_joined

Outer Joined dataframe:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback,Duration,Fee
0,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form,8 months,600000
1,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now,8 months,600000
2,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now,8 months,600000
3,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory,4 months,350000
4,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours,4 months,350000
5,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.,5 months,450000
6,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non,7 months,550000
7,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent,7 months,550000
8,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.,7 months,550000
9,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit,7 months,550000
10,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking,7 months,550000
11,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,46,HP,Windows,Enjoying the course so far,7 months,550000
12,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.,7 months,550000
13,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God,7 months,550000
14,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill,7 months,550000
15,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...,7 months,550000
16,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend,7 months,550000
17,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,44,MACBOOK,Mac OS,Awesome shit\r\n\r\n,7 months,550000
18,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good,7 months,550000
19,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled,7 months,550000
20,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now,7 months,550000
21,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,35,DELL,Windows,I am curious,7 months,550000
22,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu...",7 months,550000
23,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here,7 months,550000
24,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,24,HP,Mac OS,Coding is interesting when you understand,7 months,550000
25,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing,7 months,550000
26,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...,7 months,550000
27,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,19,Macbook,Linux,"Good so far, i guess",7 months,550000
28,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good,7 months,550000
29,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil,7 months,550000
30,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa,6 months,500000
31,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great,6 months,500000
32,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,82,MACBOOK,Mac OS,Nice to meet you all,6 months,500000
33,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!,6 months,500000

In [ ]:
# Outer Join: keep all rows from df and returns course_track in alphabetical order
outer_joined = pd.merge(df2, course_df, on='course_track', how='outer')
print("Outer Joined dataframe:")
outer_joined

Outer Joined dataframe:

,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback,Duration,Fee
0,2025-09-11 12:55:34-01:00,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non,7 months,550000
1,2025-09-11 12:56:11-01:00,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent,7 months,550000
2,2025-09-11 12:57:08-01:00,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.,7 months,550000
3,2025-09-11 12:57:56-01:00,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit,7 months,550000
4,2025-09-11 12:58:41-01:00,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking,7 months,550000
5,2025-09-11 12:58:55-01:00,Abdulmalik,Adedotun,AI,Abeokuta,Male,46,HP,Windows,Enjoying the course so far,7 months,550000
6,2025-09-11 12:58:55-01:00,Naheemot,Adebiyi,AI,Abeokuta,Female,32,DELL,Windows,Grateful for the opportunity to be here.,7 months,550000
7,2025-09-11 12:59:28-01:00,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God,7 months,550000
8,2025-09-11 12:59:43-01:00,Esther,Kudoro,AI,Abeokuta,Female,1,HP,Windows,Chill,7 months,550000
9,2025-09-11 13:00:13-01:00,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...,7 months,550000
10,2025-09-11 13:00:43-01:00,Oluwole,Oludayo,AI,Abeokuta,Male,9,HP,Windows,Good training to attend,7 months,550000
11,2025-09-11 13:00:54-01:00,Ademola,Akinrinde,AI,Abeokuta,Male,44,MACBOOK,Mac OS,Awesome shit\r\n\r\n,7 months,550000
12,2025-09-11 13:01:31-01:00,Victor,Ademuyiwa,AI,Kobape,Male,2,ASUS,Windows,Feels good,7 months,550000
13,2025-09-11 13:01:44-01:00,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled,7 months,550000
14,2025-09-11 13:01:46-01:00,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now,7 months,550000
15,2025-09-11 13:01:54-01:00,Hamid,Jimoh,AI,Ibadan,Male,35,DELL,Windows,I am curious,7 months,550000
16,2025-09-11 13:02:28-01:00,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu...",7 months,550000
17,2025-09-11 13:02:49-01:00,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here,7 months,550000
18,2025-09-11 13:02:56-01:00,Oluwadamilare,Bello,AI,Sango,Male,24,HP,Mac OS,Coding is interesting when you understand,7 months,550000
19,2025-09-11 13:03:12-01:00,Adeoye,Mary,AI,Abeokuta,Female,15,LENOVO,Windows,Still processing,7 months,550000
20,2025-09-11 13:03:36-01:00,Babatunde,Rahmon,AI,Abeokuta,Male,20,NaN,Windows,i actually have a pc that has a very low stora...,7 months,550000
21,2025-09-11 13:06:03-01:00,Samuel,Dasaolu,AI,Abeokuta,Male,19,Macbook,Linux,"Good so far, i guess",7 months,550000
22,2025-09-11 13:06:48-01:00,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good,7 months,550000
23,2025-09-11 13:18:15-01:00,Michael,Osisami,AI,Abeokuta,Male,12,HP,Windows,Nil,7 months,550000
24,2025-09-11 13:00:03-01:00,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa,6 months,500000
25,2025-09-11 13:00:31-01:00,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great,6 months,500000
26,2025-09-11 13:02:59-01:00,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,82,MACBOOK,Mac OS,Nice to meet you all,6 months,500000
27,2025-09-11 13:10:16-01:00,Ridwanullah,Osho,Cloud Computing,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!,6 months,500000
28,2025-09-11 12:59:16-01:00,Blessing,James,Cyber Security,Nairobi,Female,39,HP,Windows,Thanks for creating the form.,5 months,450000
29,2025-09-11 12:59:00-01:00,Kanyisola,Fagbayi,Data Science,Lagos,Female,82,HP,Windows,One chin chin for you for this form,8 months,600000
30,2025-09-11 12:59:41-01:00,Deborah,Adelegan,Data Science,Abeokuta,Female,1,HP,Windows,None for now,8 months,600000
31,2025-09-11 13:00:27-01:00,Saheed,Olayinka,Data Science,Abeokuta,Male,29,HP,Windows,None for now,8 months,600000
32,2025-09-11 13:00:49-01:00,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory,4 months,350000
33,2025-09-11 13:11:39-01:00,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours,4 months,350000

There is also another function called .join() method;

```c
.join()
```
This method comes handy when you want to join using index. It's a convenient way to combine DataFrames that share a common index.

Lets create a new dataset and try joining it with our existing dataset

In [ ]:
# Create a city DataFrame with details for each unique city in your bio dataset
city_data = {
    'city': ['Lagos', 'Abuja', 'Ibadan', 'Enugu', 'Kano', 'Benin', 'Port Harcourt', 'Abeokuta', 'Jos', 'Calabar', 'Onitsha'],
    'Population': [14000000, 3000000, 5000000, 4000000, 3500000, 2000000, 2500000, 800000, 600000, 500000, 900000],
    'Region': ['South West', 'Federal Capital Territory', 'South West', 'South East', 'North West',
               'South South', 'South South', 'South West', 'North Central', 'South South', 'South East']
}

city_data = pd.DataFrame(city_data)

# Setting the index for the city before joining
df_indexed = city_data.set_index('city')
df_indexed

               Population                     Region
city
Lagos            14000000                 South West
Abuja             3000000  Federal Capital Territory
Ibadan            5000000                 South West
Enugu             4000000                 South East
Kano              3500000                 North West
Benin             2000000                South South
Port Harcourt     2500000                South South
Abeokuta           800000                 South West
Jos                600000              North Central
Calabar            500000                South South
Onitsha            900000                 South East

In [80]:
# Lets join this with merged_df
joined_df = df_indexed.join(merged_df, how='left')
print(" Joined Dataframe using .join():")
joined_df

 Joined Dataframe using .join():

,Population,Region,timestamp,first_name,last_name,course_track,city,gender,seat_number,pc_make,pc_os,feedback,Duration,Fee
city,,,,,,,,,,,,,,
Lagos,14000000,South West,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abuja,3000000,Federal Capital Territory,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ibadan,5000000,South West,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Enugu,4000000,South East,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kano,3500000,North West,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benin,2000000,South South,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Port Harcourt,2500000,South South,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abeokuta,800000,South West,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jos,600000,North Central,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Calabar,500000,South South,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onitsha,900000,South East,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN