### A. Creating Series and DataFrames

In [5]:
import pandas as pd

#Step 1: Import pandas package

import pandas as pd

#Step2: Define a list
data = [1,2,3,4,5,6,7,8,9,10]


#Step3: Create the series
series = pd.Series(data)

# lets view the series that we have created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [ ]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
# Lets create a series using python dictionary


#lets create a python dictionary
data2 = {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

**Hands on Practice Solution**
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._

**Question 1**

In [ ]:
# 1. Creating a bucket list
bucket_list = ['Hike', 'Bunjee jump', 'Sky dive', 'Mud bath', 'Italy', 'Turkey']

# Creating a series using the list above and indexing with alphabets 
series = pd.Series(bucket_list, index = ['a', 'b', 'c', 'd', 'e', 'f'])
series.head(6)

a           Hike
b    Bunjee jump
c       Sky dive
d       Mud bath
e          Italy
f         Turkey
dtype: object

**Question 2**

In [ ]:
# Create a simple python biodata dict with 5 keys - Values
biodata = {"Name": "Kanyisola Fagbayi", "Age": 19, "Track": "AI engineer", "Location": "ABK", "Course": "Python"}

# Converting the dictionary into pandas series
biodata_series = pd.Series(biodata)
biodata_series.head()

Name        Kanyisola Fagbayi
Age                        19
Track             AI engineer
Location                  ABK
Course                 Python
dtype: object

**Creating a DataFrame**

In [ ]:
# LEts create a dataframe
# Step1: import pandas
import pandas as pd

# Define the data using dictionary that is having its values as a list

data = {
    'Name' : ['Ade', 'Chris', 'Ayo'],
    'Age': [21, 24, 26],
    'Track': ['Python', 'Data Analyst', 'IT']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

    Name  Age         Track
0    Ade   21        Python
1  Chris   24  Data Analyst
2    Ayo   26            IT

In [ ]:
# Define the data using dictionary that is having its values as a list

data2 = [
    {'Name' : 'Ade', 'Age': 21, 'Track': 'Python'},
    {'Name' : 'Chris', 'Age': 24, 'Track': 'Data Analyst'},
    {'Name' : 'Ayo', 'Age': 26, 'Track': 'IT'}
]

# Lets create the dataframe using "df" as short for dataframe
df2 = pd.DataFrame(data2, index=[1, 2, 3])
df2.head()

    Name  Age         Track
1    Ade   21        Python
2  Chris   24  Data Analyst
3    Ayo   26            IT

In [ ]:
# Lets do the same thing again using list of list

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'], index=[1, 2, 3])
df3.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [ ]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**B.    Data Input and Output**

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To read datasets in excel, we use:
df1 = pd.read_excel()

# To save into a csv 
df.to_csv()

# To save into a excel file
df.to_excel()

**C.    Data Inspection and Exploration**

In [17]:
# import pandas as pd

# # To read datasets in csv we use: 
# df = pd.read_csv('bio_data.csv')
# df

# # # To view the first 5 rows
# # df.head()

# # # To view the last five rows
# # df.tail()

# # # To check the info about the data
# # df.info()

# # # To check the statistical summary
# # df.describe()

# # To Check the dimension of the dataset
# df.shape

# For checking column names
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

**D.    Data Cleaning**

In [26]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# Checking the dataset for duplicates
df.duplicated()

# Checking the dataset for missing values
df.isnull().sum() # Dataset reports no missing dataset
df.isna().sum() # Dataset reports no missing dataset

# This is for dropping duplicate values if it exists
# df.drop_duplicates()

Timestamp       0
First Name      0
Last Name       0
Course Track    0
City            0
Gender          0
Seat Number     0
PC-Make         0
PC - OS         0
Feedback        0
dtype: int64

** Correcting Data**

In pandas there are two main types of datatypes, "integer" and "Object"

You can check data type using
```c

df types
```

```c

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To convert the type of perform type casting, you use
# df.astype() takes in the datatype you want to convert it to as an argument
df.astype()