### A. Creating Series and DataFrames

In [3]:
import pandas as pd

#Step 1: Import pandas package

import pandas as pd

#Step2: Define a list
data = [1,2,3,4,5,6,7,8,9,10]


#Step3: Create the series
series = pd.Series(data)

# lets view the series that we have created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [5]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [6]:
# Lets create a series using python dictionary


#lets create a python dictionary
data2 = {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

**Hands on Practice Solution**
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._

**Question 1**

In [ ]:
# 1. Creating a bucket list
bucket_list = ['Hike', 'Bunjee jump', 'Sky dive', 'Mud bath', 'Italy', 'Turkey']

# Creating a series using the list above and indexing with alphabets 
series = pd.Series(bucket_list, index = ['a', 'b', 'c', 'd', 'e', 'f'])
series.head(6)

a           Hike
b    Bunjee jump
c       Sky dive
d       Mud bath
e          Italy
f         Turkey
dtype: object

**Question 2**

In [ ]:
# Create a simple python biodata dict with 5 keys - Values
biodata = {"Name": "Kanyisola Fagbayi", "Age": 19, "Track": "AI engineer", "Location": "ABK", "Course": "Python"}

# Converting the dictionary into pandas series
biodata_series = pd.Series(biodata)
biodata_series.head()

Name        Kanyisola Fagbayi
Age                        19
Track             AI engineer
Location                  ABK
Course                 Python
dtype: object

**Creating a DataFrame**

In [ ]:
# LEts create a dataframe
# Step1: import pandas
import pandas as pd

# Define the data using dictionary that is having its values as a list

data = {
    'Name' : ['Ade', 'Chris', 'Ayo'],
    'Age': [21, 24, 26],
    'Track': ['Python', 'Data Analyst', 'IT']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

    Name  Age         Track
0    Ade   21        Python
1  Chris   24  Data Analyst
2    Ayo   26            IT

In [15]:
# Define the data using dictionary that is having its values as a list

data2 = [
    {'Name' : 'Ade', 'Age': 21, 'Track': 'Python'},
    {'Name' : 'Chris', 'Age': 24, 'Track': 'Data Analyst'},
    {'Name' : 'Ayo', 'Age': 26, 'Track': 'IT'}
]

# Lets create the dataframe using "df" as short for dataframe
df2 = pd.DataFrame(data2, index=[1, 2, 3])
df2.head()

    Name  Age         Track
1    Ade   21        Python
2  Chris   24  Data Analyst
3    Ayo   26            IT

In [17]:
# Lets do the sanething again using list of list

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'], index=[1, 2, 3])
df3.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [18]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**Data Input and Output**

In [ ]:
import pandas as pd

# To read in datasets we use
df = pd.read_csv('bio_data.csv')
df

**Data Inspection and Exploration**

In [35]:
# To call all the data in a dataset
df

# To view the first 5 rows
df.head()

# To view the last five rows
df.tail()

# To check the info about the data
df.info()

# To check the statistical summary
df.describe()

# # To Check the dimension of the dataset
# df.shape

# # For checking column names
# df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
count,34,34,34,34,34,34,34,34,34,34
unique,33,33,34,7,11,2,31,10,3,32
top,2025/09/11 12:58:55 PM GMT+1,Samuel,Okonmah,AI,Abeokuta,Male,2,HP,Windows,None for now
freq,2,2,1,24,22,26,2,19,27,3