### A. Creating Series and DataFrames

In [158]:
import pandas as pd

#Step 1: Import pandas package

import pandas as pd

#Step2: Define a list
data = [1,2,3,4,5,6,7,8,9,10]


#Step3: Create the series
series = pd.Series(data)

# lets view the series that we have created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [159]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [160]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [161]:
# Lets create a series using python dictionary


#lets create a python dictionary
data2 = {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

**Hands on Practice Solution**
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

_depending on where you are viewing this notebook you are either to download it or make a copy._

**Question 1**

In [162]:
# 1. Creating a bucket list
bucket_list = ['Hike', 'Bunjee jump', 'Sky dive', 'Mud bath', 'Italy', 'Turkey']

# Creating a series using the list above and indexing with alphabets 
series = pd.Series(bucket_list, index = ['a', 'b', 'c', 'd', 'e', 'f'])
series.head(6)

a           Hike
b    Bunjee jump
c       Sky dive
d       Mud bath
e          Italy
f         Turkey
dtype: object

**Question 2**

In [163]:
# Create a simple python biodata dict with 5 keys - Values
biodata = {"Name": "Kanyisola Fagbayi", "Age": 19, "Track": "AI engineer", "Location": "ABK", "Course": "Python"}

# Converting the dictionary into pandas series
biodata_series = pd.Series(biodata)
biodata_series.head()

Name        Kanyisola Fagbayi
Age                        19
Track             AI engineer
Location                  ABK
Course                 Python
dtype: object

**Creating a DataFrame**

In [164]:
# LEts create a dataframe
# Step1: import pandas
import pandas as pd

# Define the data using dictionary that is having its values as a list

data = {
    'Name' : ['Ade', 'Chris', 'Ayo'],
    'Age': [21, 24, 26],
    'Track': ['Python', 'Data Analyst', 'IT']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

    Name  Age         Track
0    Ade   21        Python
1  Chris   24  Data Analyst
2    Ayo   26            IT

In [165]:
# Define the data using dictionary that is having its values as a list

data2 = [
    {'Name' : 'Ade', 'Age': 21, 'Track': 'Python'},
    {'Name' : 'Chris', 'Age': 24, 'Track': 'Data Analyst'},
    {'Name' : 'Ayo', 'Age': 26, 'Track': 'IT'}
]

# Lets create the dataframe using "df" as short for dataframe
df2 = pd.DataFrame(data2, index=[1, 2, 3])
df2.head()

    Name  Age         Track
1    Ade   21        Python
2  Chris   24  Data Analyst
3    Ayo   26            IT

In [166]:
# Lets do the same thing again using list of list

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'], index=[1, 2, 3])
df3.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [167]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**B.    Data Input and Output**

In [168]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To read datasets in excel, we use:
df1 = pd.read_excel()

# To save into a csv 
df.to_csv()

# To save into a excel file
df.to_excel()

TypeError: read_excel() missing 1 required positional argument: 'io'

**C.    Data Inspection and Exploration**

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To view the first 5 rows
df.head()

# To view the last five rows
df.tail()

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')

# To check the info about the data
df.info()

# To check the statistical summary
df.describe()

# To Check the dimension of the dataset
df.shape

# For checking column names
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

**D.    Data Cleaning**

Finding and Handling Duplicates

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# Checking the dataset for duplicates
df.duplicated()

# Checking the dataset for missing values
df.isnull().sum() # Dataset reports no missing dataset
df.isna().sum() # Dataset reports no missing dataset

# This is for dropping duplicate values if it exists
df.drop_duplicates()

TypeError: read_csv() got an unexpected keyword argument 'index'

**Correcting Data**

In pandas there are two main types of datatypes, "integer" and "Object"

You can check data type using
```c

df types
```

To convert the type of perform type casting, you use

```c
df.astype() # this takes in the datatype you want to convert it to as an argument
```

When working with time or time series dat its important to convert the time to pandas recognized time using

```c
pd.to_datatime() # takes in the data column as an argument
```

In [ ]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df

# To convert the type of perform type casting, you use
# df.astype() takes in the datatype you want to convert it to as an argument

# Replacing the dirty data to an int in the column
df['Seat Number'] = df['Seat Number'].replace('dirty', 789)


# To convert a specific datatype to the correct datatype
df['Seat Number'] = df['Seat Number'].astype(int)
df['Seat Number']

In [ ]:
# To change the data type of the Timestamp 
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Timestamp']

In [ ]:
# To check the data type of all the columns in the dataset
df.dtypes

### E. Data Selection and Filtering

Viewing data column

In [ ]:
# To view all the columns in a dataset
# bio_data_column = ['First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC-OS', 'Feedback' ]

df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')

Column selection

In [ ]:
# Looking through a single column
df['Gender']
df.Gender

# Looking through a single column that is named with a space
df['First Name']

In [ ]:
# Looking through multiple columns
df[['Gender', 'Last Name']]
df[['Gender', 'Last Name', 'PC-Make']]

Cell Selection

In [ ]:
# To select a single cell
df['First Name'][0]

# Another method for selecting the cell (.at)
df.at[0, 'First Name']

# Another method for selecting the cell (.iat)
df.iat[6, 2]

'Adebiyi'

Row selection

`iloc` is used to select rows/columns or rows and column using index slicing.
This is very useful especially when your data bset do not have labels(that is, row names and column names)

In [ ]:
# Using iloc
# Let select some rows
df.iloc[0:5] # Starts from the 0th index and stops at the the 4th element

# Combination of rows and columns
df.iloc[0:5, 1:3] # the first index prints the 0th to the 4th element and the column picks the 1st to the second element

**Difference between iloc and loc**

- iloc allows the combination of rows and columns, loc doesn't
- loc prints the first element specified to the last element
- iloc prints the first elemnt specified to the number before the last specified element.
- loc is label specified.
- iloc is index specified.

In [ ]:
# Using loc
df.loc[:7] # prints 0th to the 7th element
df.loc[7:] # prints 7th to the last element
df.loc[::]

**Conditinal Filtering**

In [ ]:
# Filtering columns with a specified info
# This returns the specified row to be printed
filtered_city = df[df['City'] == 'Abeokuta']
print("Rows where City is 'Abeokuta':")
filtered_city

# Replacing a filtered selection with another input
filtered_city = df[df['City'] == 'Abeokuta']
replace_filtered_city = filtered_city.replace('Abeokuta', 'London')
print("Replace rows with Abeokuta with London:")
replace_filtered_city

# Filter rows where the PC-Make and course Track is "Cloud Computing"
filtered_PCMake = df[df['PC-Make'] == 'HP']
replace_filtered_PC = filtered_PCMake.replace('HP', 'Macbook')
replace_filtered_PC
filtered_PC= df[(df['PC-Make']== 'HP') & (df['Course Track'] == 'Cloud Computing')]
print("Rows where PC-Make is 'Abeokuta' and Course_Track is 'Cloud Computing':")
filtered_PC

# Filter rows where City is either 'Abeokuta' or 'Lagos'
cities = ['Abeokuta', 'Lagos']
city_filter = df[df['City'].isin(cities)]
print("Rows where the city is Lagos or Abeokuta:")
city_filter

**Using .Query() method**

In [171]:
import pandas as pd

# To read datasets in csv we use: 
df = pd.read_csv('bio_data.csv')
df


# Use query() to filterrows where Gender is 'Female' and City is 'Abeokuta'
query_filter = df.query('Gender == "Female" and City == "Abeokuta"')
print("Rows filtered using query() method:")
query_filter

# Filter rows where Course track 
data_science = df.query("Course_Track == 'Data Science'")
print("Students in the Data Science track:")
data_science

Rows filtered using query() method:

UndefinedVariableError: name 'Course_Track' is not defined